body {
    margin-right: 10%;
    background-color: rgba(199, 255, 255, 0.471);
    opacity: 80%;
    color: rgb(119, 255, 0);
    font-weight: 400;
  }
  
  h1 {
    color: rgb(0, 89, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    position: relative;
  
    text-decoration:underline dotted rgb(72, 0, 255);
  }
  
  .link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 255, 200); /* Change this color to your desired color */
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: red; /* Change this color for the hover effect if desired */
}
  .quote {
    background-color: rgb(115, 255, 0);
    text-shadow: 6cap;
    font-size: xx-large;
    font-style: bold;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline 10px rgba(206, 171, 253, 0.527);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  
  
  
  #intro p {
    color: rgb(255, 3, 129);
    font-style: bold;
    box-shadow: 10px 10px rgba(224, 202, 255, 0.527);
  }
  
  
  .quote:hover {
    background-color: green ;
    cursor: pointer;
  }
 
.ellipse-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin: 0;
    overflow: hidden;
}

.ellipse-container {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ellipse-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.ellipse {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.large {
    width: 150px;
    height: 75px;
    background-color: black;
}

.small {
    width: 50px;
    height: 25px;
    background-color: white;
    position: relative;
    animation-name: moveSmall;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes scaleLarge {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes moveSmall {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    max-width: 800px; 
    margin: 0 auto; 
  }
  
 
  .image-grid img {
    max-width: 100%; 
    height: auto; 
  }
  
 
